@charset "UTF-8";
.iptxt {
  position: relative;
  width: auto;
  margin: 20px 3%;
}
.iptxt input[type='text'] , input[type='password']{
  border: 0px solid #ffffff;
  border-radius: 25px;
  height: 80px;
  margin: 0.5em auto;
  display: block;
  font: 15px/24px 'M PLUS Rounded 1c';
  box-sizing: border-box;
  width: 350px;
  height: 40px;
  padding: 0.3em;
  letter-spacing: 1px;
  padding-left: 40px;
  box-shadow: 1px 1px 2px 0 #707070 inset;
}

::placeholder {
  color:#35a0d9;;
}
.iptxt input[type='text']:focus {
	outline: none;
        box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.iptxt input[type='text']:focus::after {
	outline: none;
}
.iptxt input[type='password']:focus {
	outline: none;
}
.iptxt input[type='password']:focus::after {
	outline: none;
}
.iptxt i {
	position: absolute;
	top: -2px; /*アイコンを上下移動*/
	left: 275px;/*アイコン左右移動*/
	padding: 13.5px 12px;
	transition: 0.3s;
	color:#35a0d9;
}



input[type="submit"] {
  display:block;
  border: none;
  height:40px;
  width: 200px;
  margin: 0 auto;
  line-height:50px;
  align-items: center;
  background:#0067c0;
  color:#ffffff;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
  font-size: 20px;
  padding-bottom: 3px;
  font-weight:bold;
  box-shadow:0 30px 60px -5px rgba(0,0,0,.30),0 0 5px rgba(0,0,0,.30);
}

input[type="submit"]:hover{
	box-shadow:0 15px 30px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
	transform:translateY(-2px);
}

.cancel{
  display:block;
  border: none;
  height:40px;
  width: 200px;
  margin: 0 auto;
  line-height:50px;
  background:#0067c0;
  color:#ffffff;
  border-radius:25px;
  text-decoration:none;
  text-align:center;
  font-size: 20px;
  box-shadow:0 0 3px 0 rgba(0,0,0,.12),0 2px 3px 0 rgba(0,0,0,.12);
}

.cancel:hover{
	box-shadow:0 15px 30px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
	transform:translateY(-2px);
}