@charset "UTF-8";
html{
  background-color:#35a0d9;
}

h2{
  color: #ffffff;
}

.vertical-scroll-table{
  overflow-y:auto;
  max-height: 600px;
  scrollbar-base-color:#0067c0;
}

table td{
  overflow-wrap:break-word;
  color:#0067c0;
}

.searchresult{
  background-color:#ffffff;
  margin:10px auto;
  padding:10px 0;
  overflow: auto;
  table-layout:fixed;
  width: 100%
}

.title{
  background-color:#0067c0;
}
input[type="submit"] {
  display:block;
  border: none;
  height:60px;
  width: 500px;
  line-height:50px;
  align-items: center;
  background:#0067c0;
  color:#ffffff;
  text-decoration:none;
  text-align:center;
  font-size: 20px;
  padding-bottom: 3px;
  font-weight:bold;
  box-shadow:0 30px 40px -5px rgba(0,0,0,.20),0 0 5px rgba(0,0,0,.20);
}

input[type="submit"]:hover{
	box-shadow:0 15px 30px -5px rgba(0,0,0,.15),0 0 5px rgba(0,0,0,.1);
	transform:translateY(-2px);
}

.u_data{
  width:50px;
}